*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

header{
	height: 120vh;
	background: url(../images/water-43.gif);

	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

nav{
	height: 75px;
	width: 100%;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: hsla(209, 94%, 18%, 0.45);
	z-index: 2000;
}

nav > ul{
	display: flex;
	list-style-type: none;
	color: whitesmoke;

}

nav > ul > li{
	margin: 20px;
	font-size: 15px;
}

/*My Landing Page*/

.myLanding img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: flex;
	align-content: center;
	margin-top: 80%;
}

.myLanding{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.myLanding > div{
	text-align: center;
}

.myLanding h4{
	color: whitesmoke;
	font-size: 50px;
	margin-top: 5%;
	text-shadow: 3px 3px black;

}

.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btnLearn{
	margin-top: 20px;
	background-color: #DC7C20;
	font-size: 15px;
	font-weight: bold;
	color: blue;
	z-index: 1001;
}

/*Section 2 My Home Page*/

.section2{
	height: 110vh;
	background: url(../images/sec2bg.png);
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
}

.secHome{
	height: 110vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.secHome > h1{
	font-size: 55px;
	color: gainsboro;
}

.secHome > h1, .secHome > p, .secHome > hr{
	margin-left: 50px;
}

.secHome > p{
	font-size: 20px;
	color: white;
}

.secHome > div > .btn{
	margin-top: 10px;
	background-color: navy;
	color: white;
	display: flex;
	margin-left: 8%;
}


/*Section 3 My About Page*/

.projects{
	height: 120vh;
	background: url(../images/bgSec3.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

.myprojects img{
	height: 200px;
	width: 350px;
	border-radius: 5%;
}

.projects > div > div > h3{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	font-size: 40px;
	color: darkgray;
	text-shadow: 1.5px 1.5px black;
}

.myprojectpic{
	width: 80vw;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.img{
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

.center{
	transition: .5s ease;
	opacity: 0;
	bottom: 50px;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 1000;
}

.imgcontainer:hover .img{
	opacity: 0.5;
}

.imgcontainer:hover .center{
	opacity: 1;
}

.text{
	background-color: lightblue;
	color: black;
	font-size: 16px;
	padding: 16px 32px;
	text-align: center;
	font-weight: bold;

}

/*Section 4 Skills*/

.skills{
	height: 120vh;
	background: url(../images/section4BG.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}


/*Media Home Page Ipad*/
@media only screen and (min-width: 374px) and (max-width: 768px){
	.myprojectpic{
		flex-wrap: wrap;
	}

	nav > ul > li{
		margin: 20px;
		font-size: 20px;
	}

	.secHome > div > .btn{
		margin-top: 10px;
		background-color: navy;
		color: white;
		display: flex;
		margin-left: 13%;
	}

	.secHome > h1{
		font-size: 40px;
		color: gainsboro;
	}



/*Iphone*/
@media only screen and (max-width: 375px){
	nav > ul > li{
		margin: 8px;
		font-size: 15px;
	}

	nav{
		height: 75px;
		width: 375px;
		border-bottom: 2px solid whitesmoke;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		background-color: hsla(209, 94%, 18%, 0.45);
		z-index: 1000;
	}

	.myself > p{
		margin: 10px;
	}

	.myprojectpic{
		flex-wrap: wrap;
	}

	.secHome > h1{
		font-size: 20px;
		color: gainsboro;
	}

	.secHome > h1, .secHome > p, .secHome > hr{
		margin-left: 50px;
	}

	.secHome > p{
		font-size: 20px;
		color: white;
	}


	.projects > div > div > h3{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20%;
		font-size: 35px;
		color: darkgray;
		text-shadow: 1.5px 1.5px black;
	}

	.myprojectpic{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.myprojects img{
		height: 150px;
		width: 250px;
		border-radius: 5%;
	}

	.secHome > div > .btn{
		margin-top: 10px;
		background-color: navy;
		color: white;
		display: flex;
		margin-left: 25%;
	}


}
